body {
    background-color: #477148;
    font-family: 'Chango', cursive;
    font-size: x-large;
}
h1 {
    margin: 0px, 0px;
    text-align: center;
}
button {
    display: block;
    margin: auto;
    margin-top: 5px;
    width: 100px;
}
#popupWindow {
    display: none;
    background-color: white;
    width: 50%;
    margin: auto;
    margin-top: 30px;
    padding: 20px;
}
#modal {
    display: none;
    text-align: center;
}